{% raw %}
{% extends '../base.html' %}
{% endraw %}{% if cookiecutter.react == "True" %}{% raw -%}
{% load static %}
{%- endraw %}{%- endif %}{% raw %}

{% block scss %}{% endblock %}

{% block head %}
    <title>{% endraw %} {{cookiecutter.project_name}} {% raw %}</title>
{% endblock %}

{% block body %}
    <h1>Welcome to {% endraw %} {{cookiecutter.project_name}} {% raw %}</h1>
    {% endraw %}{% if cookiecutter.react == "True" -%}{% raw %}
    <div id="root"></div>
    <script src="{% static 'js/index.bundle.js' %}"></script>
    {% endraw %}{%- endif %}{% raw %}

{% endblock %}
{% endraw %}
